//- ---------------------
        Mixin用pug
  -----------------------
include /_config/_var.pug

//- ----- メタ --------------------//
//- og
mixin og(prop, cont)
  meta(property='og:' + prop, content=cont)


//- ----- 読み込み --------------------//
//- デアゴからのcss読み込み
mixin deagoCss(fileName)
  link(href=pathDeagoCss + fileName, rel='stylesheet', type='text/css', media='all')
//- common内のcss読み込み
mixin css(fileName)
  link(href=pathCss + fileName, rel='stylesheet', type='text/css', media='all')
mixin css2(fileName)
  link(href=pathCss2 + fileName, rel='stylesheet', type='text/css', media='all')

//- デアゴからのjs読み込み
mixin deagoJs(fileName)
  script(src=pathDeagoJs + fileName, type='text/javascript')
//- common内のjs読み込み
mixin js(fileName)
  script(src=pathJs + fileName, type='text/javascript')
mixin js2(fileName)
  script(src=pathJs2 + fileName, type='text/javascript')


//- ----- click計測 --------------------//
//- aタグ
mixin ga(blank, gaCategory, href)
  //- _blankかどうかを0,1で判定
  - var tgt = blank == 1 ? "_blank" : ""
  if version == 0
    //- 限定版
    a(href=href, target=tgt)&attributes(attributes)
      if block
        block
  else
    //- 全国版
    - var onclk = `ga('send','event', 'LP_${gaCategory}_${seriesInitLower}', 'click', ${seriesInitLower});`
    a(href=href, onclick=onclk, target=tgt)&attributes(attributes)
      if block
        block

//- aタグ以外
mixin gaTag(tag, gaCategory)
  if version == 0
    //- 限定版
    #{tag}&attributes(attributes)
      if block
        block
  else
    //- 全国版
    #{tag}(onclick=`ga('send','event', 'LP_${gaCategory}_${seriesInitLower}', 'click', ${seriesInitLower});`)&attributes(attributes)
      if block
        block

//- 定期購読ボタン
mixin gaTeiki(No)
  .btnBox
    if version == 0
      //- 限定版
      a(href= teikiUrl)
        +btnTeiki
    else
      //- 全国版
      +ga(0, `Subs_subscribe_${No}`, teikiUrl)
        +btnTeiki

//- 立ち読みボタン
mixin gaTachiyomi(href)
  a(href=href, onclick=`ga('send','event', 'tachiyomi_Inbound_${seriesInitLower}', 'click', ${seriesInitLower});`, target="_blank")&attributes(attributes)
    if block
      block


//- ----- ページパーツ --------------------//
//- deagoロゴ
mixin deagoLogo
  svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 783 95.1')
    path(d='M294 60.5h11v11c-7.9.7-11.5 1.2-18-2h-2v-1h-2v-1c-2-1.7-4-3.3-6-5-.6-2.8-2.3-4.8-3-7v-15h1v-3l6-9h2c.3-.7.7-1.3 1-2 1.3-.3 2.7-.7 4-1v-1h2v-1h4c2.5-.8 10-2.1 14-1v1c4 .7 8 1.3 12 2v1h2c2.7 1.4 4.3 3.2 8 4v-24c-4-1.3-8-2.7-12-4-4-.3-8-.7-12-1v-1c-4.5-1.3-16.9.1-20 1-3.3.3-6.7.7-10 1v1c-3 .7-6 1.3-9 2v1c-1.3.3-2.7.7-4 1v1h-2c-.3.7-.7 1.3-1 2h-2c-1 1.3-2 2.7-3 4h-2c-.7 1-1.3 2-2 3h-1v2c-1 .7-2 1.3-3 2v2c-.7.3-1.3.7-2 1v2h-1c-.3 1.3-.7 2.7-1 4h-1v3h-1v4h-1v7h-1c-.8 2.7-.1 7.8 1 9v1c-3.3-2.2-3.3-7.9-5-12h-1v-3h-1v-3h-1v-2h-1c-.3-2-.7-4-1-6h-1v-2h-1c-.7-3-1.3-6-2-9-1.9-4.3-5.1-9.7-6-15h-42l-15 39c-1.1 3.9-.3 1.3-3 3v1h-2c-.3.7-.7 1.3-1 2-1.7.3-3.3.7-5 1v1h-2v1h-4v1h-6v1c-3.7-.3-7.3-.7-11-1v-1c-2-.7-4-1.3-6-2v-1c-1.3-1-2.7-2-4-3-.3-2-.7-4-1-6h43c.1-11.6-.4-20.2-5-27-1.3-1-2.7-2-4-3-2.1-2.1-2.5-4.1-6-5v-1h-40c-.7 1-1.3 2-2 3h-2c-.7 1-1.3 2-2 3h-1v2c-1 .7-2 1.3-3 2-.7 2-1.3 4-2 6h-1c-.3 2.3-.7 4.7-1 7h-1c-.6 2 .1.9-1 2-1.3-5.9-5.4-8.5-9-12-.7-1-1.3-2-2-3h-2c-.3-.7-.7-1.3-1-2-1.3-.3-2.7-.7-4-1v-1c-2-.7-4-1.3-6-2v-1h-3v-1h-4v-1c-7-.3-14-.7-21-1H0v90h42c7-.3 14-.7 21-1v-1h3v-1h2v-1h3v-1h2c.3-.7.7-1.3 1-2h2c.3-.7.7-1.3 1-2h2c1.3-1.7 2.7-3.3 4-5 1.3-1 2.7-2 4-3v-2c.7-.3 1.3-.7 2-1v-2h1c.3-1.3.7-2.7 1-4h1v-3h1c1.1-3.2 0-6.8 2-9 .6-2-.1-.9 1-2 4.7 10.4 25.9 22.5 42 18h6v-1c4.1-1.3 6.5-.1 9-3h1c-1.3 4-2.7 8-4 12h-1v3h-1v3h-1c-1.2 2.5-1.8 4.9-2 8h34c1.7-4.7 3.3-9.3 5-14 8.8-.1 22-1.6 29 1 1.3 4.3 2.7 8.7 4 13h36c-1.7-4.1-3.2-12.2-6-15v-1c2.3 2 4.7 4 7 6 .3.7.7 1.3 1 2h2c.3.7.7 1.3 1 2h2v1c2 .7 4 1.3 6 2v1c2 .3 4 .7 6 1v1h4v1h5v1h30v-1c6.3-.7 12.7-1.3 19-2 .9-1.1-.1-.2 1-1v-49h-37v19zm-233-6h-1c-.3 2-.7 4-1 6-.7.3-1.3.7-2 1v2h-1c-1 1.3-2 2.7-3 4-2.8.6-5.5 2.2-8 3H31v-30c0-5.4-.4-12.2 1-16 15.3-.2 23.4 3.5 28 14v3c.8 2.2 2.1 9.4 1 13zm61-39c.3-.7.7-1.3 1-2h3v-1c8.4.1 8.1 2.1 13 5 .8 3.6 2 4.9 2 10h-24c0-7.2 1.4-8.5 5-12zm67 43c.4-7.4 3.9-13.2 6-19v-4h1c.3-2 .7-4 1-6h1v-2h1c.3 2 .7 4 1 6h1v3h1c.7 3.3 1.3 6.7 2 10 1.3 3.6 3.7 7.2 4 12h-19zm250-18v-5h-1c-.3-2-.7-4-1-6h-1c-.7-2-1.3-4-2-6h-1v-2c-1-.7-2-1.3-3-2v-2c-.7-.3-1.3-.7-2-1-1.3-1.7-2.7-3.3-4-5h-2c-.3-.7-.7-1.3-1-2-1-.3-2-.7-3-1v-1c-9.6-6.1-23-7.3-39-7v1h-6v1h-3v1h-3v1h-3v1h-2v1c-1.3.3-2.7.7-4 1-.3.7-.7 1.3-1 2h-2c-.7 1-1.3 2-2 3h-2v1c-1.3 1-2.7 2-4 3v2c-1 .7-2 1.3-3 2v2c-.7.3-1.3.7-2 1v2h-1c-.3 1.3-.7 2.7-1 4h-1v3h-1v4c-1 3.1-3.4 11.1-2 16h1v6h1v4h1v3h1c.3 1.3.7 2.7 1 4h1v2c.7.3 1.3.7 2 1v2c.7.3 1.3.7 2 1v2c1.7 1.3 3.3 2.7 5 4 .3.7.7 1.3 1 2h2c.7 1 1.3 2 2 3h2c.3.7.7 1.3 1 2 5.7 2 11.3 4 17 6h24v-1h4v-1h4v-1h3v-1h2v-1c1.3-.3 2.7-.7 4-1 .3-.7.7-1.3 1-2h2c.3-.7.7-1.3 1-2h2c.7-1 1.3-2 2-3 1.7-1.3 3.3-2.7 5-4v-2c.7-.3 1.3-.7 2-1v-2c.7-.3 1.3-.7 2-1 .7-2 1.3-4 2-6h1c.3-2.3.7-4.7 1-7 1.2-3.7 3.7-11.9 2-18h-1zm-33 13h-1v3c-1.9 4.4-5.9 9.9-11 11-1.3 1.2-8.2 1.9-11 1-4.6-1.5-10.1-6.7-11-12-2.7-2.8-2.8-15.3 0-18v-3c.7-.3 1.3-.7 2-1v-2h1c1-1.3 2-2.7 3-4h2v-1c1.7-.3 3.3-.7 5-1v-1c3.3.3 6.7.7 10 1 3.2 3.8 7.8 5.1 9 11 1.5 1.6 3.3 12 2 16zm106-2c-.7-.3-1.3-.7-2-1v-2h-1c-1-1.3-2-2.7-3-4h-2c-.7-1-1.3-2-2-3-1.3-.3-2.7-.7-4-1v-1h-2v-1h-3v-1h-2v-1h-3v-1h-2v-1h-3c-2.7-1.7-5.3-3.3-8-5 .4-3.2.9-2.9 2-5 11.2-2.1 18.3 0 26 4h2v1c2.1 1.1 2.4.2 4 2h1v-25c-3.7-1-7.3-2-11-3v-1c-6.7-.7-13.3-1.3-20-2h-8c-13.7 3.9-27 10.4-27 28v8h1v3h1v2h1v2c1 .7 2 1.3 3 2 1.7 2 3.3 4 5 6h2c.3.7.7 1.3 1 2 1.3.3 2.7.7 4 1v1c2 .7 4 1.3 6 2v1h3v1h2v1h3c1.9.9 4 3 6 4-.1 2.6-.4 3.4-1 5-8.3 3.3-17.6 2-25-1h-3v-1c-1.3-.3-2.7-.7-4-1v-1h-3v-1c-1-.3-2-.7-3-1-.1 5-1.1 22.7 1 25v1c2 .3 4 .7 6 1v1h3c7.6 2.8 28.3 5.2 38 2v-1c2-.3 4-.7 6-1v-1c1.3-.3 2.7-.7 4-1v-1h2v-1c1.5-1.2 1.8-1.4 4-2 .8-2.6 1.6-3.2 3-5h1v-2h1v-2h1v-4h1c.3-3.3.7-6.7 1-10h-1c-1.2-4.4 0-7.6-2-11zm4-25h21v66h32v-66c6.7.1 16 .9 21-1v-23h-74v24zm80 66h32v-90h-32v90zm111-66c0 3.4-.6 8.2 1 10v11c-3.2-1.9-3.9-4.9-6-8-.7-.3-1.3-.7-2-1v-2c-.7-.3-1.3-.7-2-1v-2c-1-.7-2-1.3-3-2v-2c-.7-.3-1.3-.7-2-1-.3-1-.7-2-1-3h-1v-2c-1-.7-2-1.3-3-2v-2c-.7-.3-1.3-.7-2-1v-2c-.7-.3-1.3-.7-2-1-2.5-3.7-4.2-8.6-8-11v-2h-36v90h32v-46h1c10.7 15.3 21.3 30.7 32 46h34v-90h-32v24zm44-24v90h32v-90h-32z', fill-rule='evenodd', clip-rule='evenodd')

//- 定期購読ボタン画像
mixin btnTeiki
  picture
    source(srcset=pathImg + 'teikipre/btn_sp.png', media=spW)
    img(src=pathImg + 'teikipre/btn.png', loading="lazy", alt='送料無料 一括払い不要 途中解約可能 ＼ご自宅まで自動でお届け♪／ 定期購読お申し込みはこちら >')

//- img
mixin img(fileName, alt, className)
  img(class=className, src=pathImg + fileName, loading="lazy", alt=alt)

mixin img2(fileName, alt, className)
  img(class=className, src=pathImg2 + fileName, alt=alt)

mixin imgNoLazy(fileName, alt, className)
  img(class=className, src=pathImg + fileName, alt=alt)

mixin fig(fileName, alt, className)
  figure(class=className)
    img(src=pathImg + fileName, loading="lazy", alt=alt)

mixin fig2(fileName, alt, className)
  figure(class=className)
    img(src=pathImg2 + fileName, alt=alt)

mixin figNoLazy(fileName, alt, className)
  figure(class=className)
    img(src=pathImg + fileName, alt=alt)

mixin pic(fileName, fileNameSp, alt, className)
  picture
    source(srcset=pathImg + fileNameSp media=spW)
    +img(fileName, alt, className)

mixin pic2(fileName, fileNameSp, alt, className)
  picture
    source(srcset=pathImg2 + fileNameSp media=spW)
    +img2(fileName, alt, className)

mixin picNoLazy(fileName, fileNameSp, alt, className)
  picture
    source(srcset=pathImg + fileNameSp media=spW)
    +imgNoLazy(fileName, alt, className)

//- ダミー
mixin imgDmy(fileName, alt, className)
  img(class=className, src="https://placehold.jp/" + fileName, alt=alt)
mixin picDmy(fileName, fileNameSp, alt, className)
  picture
    source(srcset="https://placehold.jp/" + fileNameSp media=spW)
    +imgDmy(fileName, alt, className)
mixin figDmy(fileName, alt, className)
  figure(class=className)
    +imgDmy(fileName, alt)

//- 動画
mixin mov(url)
  iframe(src='https://www.youtube.com/embed/' + url + '?rel=0&wmode=transparent', allowfullscreen='', frameborder='0')

//- タイトル
mixin ttl1(txt1, txt2)
  h2.ttl1
    small!= txt1
    strong!= txt2

