.pc
  .bg
    .inner
      h1: +img("main/logo.png", seriesTtl)
      p.day: +img("main/day.png", `${release}創刊`)
      p.price: +img("main/price.png", `${priceAll}`)
      p.copy: +img("main/copy.png", "")
      p.txt: +img("main/txt.png", "")
      a.btn(href=teikiUrl): +img("main/btn.png", "送料無料 定期購読お申し込み >")
.sp
  +img("main/img_sp.png", `${seriesTtl} ${priceAll} ${release}創刊`)

