//- ------------------------------
              変数
  ------------------------------//
//- WEBからのお問い合わせ
- var inqWeb = "//deagostini.jp/company/user/inquiry/index.php"

//- ------------------------------
              Mixin
  ------------------------------//
//- お客様受注センター
mixin jutyu
  .jutyuTxt
    | ◆お客様受注センター◆#[br]
    | 株式会社 デアゴスティーニ・ジャパン お客様受注センター#[br]
    | フリーダイヤル:0120-300-851(受付時間：10:00～18:00年末年始を除く)#[br]
    | フリーFAX:0120-834-353(24時間受付)#[br]
    a(href=inqWeb) →WEBからのお問い合わせ
//- お客様サポートセンター
mixin supp
  .supportTxt
    | ◆お客様サポートセンター◆#[br]
    | 電話:
    strong 0570-008-109
    |  (営業時間:月～金 10:00～18:00 ※祝祭日を除く) #[br]
    | ※お問い合わせの際は、番号をよくお確かめください。#[br]
    | ※間違い電話が大変多くなっております。 おかけ間違いのないようご注意ください。#[br]
    a(href=inqWeb) →WEBからのお問い合わせ


doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  include /_parts/_head.pug
    +css2("style.css")

    main#pageFaq
      .inner
        .logo
          a(href=`/${seriesInit}/`)
            img(src=pathImg2 + 'main/logo.png', alt=seriesTtl)

        h1 よくあるご質問

        .faqBox
          h2 Q．#{seriesTtl}を購入したいのですが？
          p
            | 最新号はお近くの書店にてお求めになれます。#[br]
            | 店頭で売り切れになっている場合でも在庫があればご注文いただけます。#[br]
            | 創刊号は特別#{priceName}#{priceSokan}円（10%消費税込）、2号以降通常#{priceName}は#{priceNormal}円（10%消費税込）となっております。

          h2 Q．定期購読はできますか？
          p
            | はい、可能です。本誌に挟み込まれた申込書をご郵送いただくか、またはWEBサイトからもお申し込みいただけます。送料は無料となっております。#[br]
            | （#[a(href=`${teikiUrl}`) →定期購読のお申し込み]）


          // ▼▼▼seriesOriginal▼▼▼
          include _faq_series_origin.pug
          // ▲▲▲seriesOriginal▲▲▲


          h2 Q．バックナンバー・特製バインダーの購入方法を教えてください。
          p
            | バックナンバーは書店でのお取り寄せ、又は弊社の直送サービスによるご注文が可能です。#[br]
            | 書店にてご注文の場合、本誌をお取り置きし、お客様のお時間のご都合に合わせて、お買い求めいただけます。詳細につきましては、お近くの書店へお問い合わせくださいますようお願い申し上げます。#[br]
            | 弊社の直送サービスにてご注文いただく場合は、お客様受注センターよりお申し込みください。特製バインダーは近日発売予定です。
          +jutyu

          h2 Q．定期購読申し込み者と配送先が異なるのですが？
          p
            | お買い上げいただいた商品は別送お届けの指定が可能です。WEBサイトからお申し込みの際は所定の項目にご記入ください。#[br]
            | WEBサイト以外からお申し込みの場合は別送先をお電話、FAXまたはE-mailでお客様受注センターまでお知らせ願います。
          +jutyu

          h2 Q．配送先を変更したいのですが?
          p
            | 引越し等でお届け先が変わる場合は必ず事前に新しい住所をお電話、FAXまたはE-mailでお客様受注センターまでお知らせください。
          +jutyu

          h2 Q．購読を中止(解約)したいのですが?
          p
            | ご購読を中止(解約)される場合、お電話、FAXでお客様受注センターへご一報ください。尚、ご一報前に既に発送手続きが完了している商品につきましては、ご解約前のお届け分として取り扱わせていただきますので、ご了承願います。また、ご解約のお知らせをくださいましても、口座自動引き落としの解除にはお時間がかかりますので、予めご承知おきください。
          +jutyu

          h2 Q．落丁や不良品はどうすればいいですか?
          p
            | 弊社では細心の注意を払いお届けしておりますが、万が一ご迷惑をおかけしました場合は、心よりお詫び申し上げます。不良品は弊社送料負担によるお取り替え、再送をいたします。 大変お手数ですが、下記お客様サポートセンターまで電話をおかけいただき、#[br]#[br]
            |   ◆商品名、号数#[br]
            |   ◆不具合について#[br]
            |   ◆ご住所#[br]
            |   ◆お電話番号#[br]
            |   ◆お名前#[br]#[br]
            |   を担当者にお伝えください。#[br]
            |   すぐに取り替え品と返信用着払い伝票を同封いたします。#[br]
            |   恐れ入りますがこの伝票で不良品をご返送ください。#[br]
            |   ※できうる限り迅速に対応しておりますが、場合により商品の送付には2～3週間のお時間をいただくことがあります。ご了承ください。
          +supp

          h2 Q．返品／キャンセル／解約するには、どうしたら良いですか?
          p
            | 一度ご購入いただいた商品は、返品／キャンセルすることはできません。#[br]
            | 予めご了承ください。#[br]#[br]
            | ※但し、定期購読をご利用いただいているお客様の場合、紙面版とデジタル版、またはデジタル版のみの定期購読の途中解約は可能です。#[br]
            | ※デジタル版の解約は、発売日の前日21時までにお客様受注センターにご連絡ください。
          +jutyu
      // /.faqBox
    // /#pageFaq


    include /_parts/_footer.pug