a.toTop.clkScrl(href='#')
  picture
    source(srcset=pathImg + 'totop_sp.png', media=spW)
    img(src=pathImg + 'totop.png', alt='Pagetop', width='76', height='76')


#footer
  .footerlink
    ul
      li.link01: a(href='/company/user/index.php', title='利用規約') 利用規約
      li.link02: a(href='/company/user/privacy.php', title='個人情報保護方針') 個人情報保護方針
      li.link03: a(href='/company/user/copyright.php', title='著作権について') 著作権について
      li.link04: a(href='/company/user/law.php', title='特定商取引に基づく表記') 特定商取引に基づく表記
      li.link05: a(href='/company/index.php', title='会社概要') 会社概要
  // /.footerlink
// /#footer

.footerCopyright
  .footerCopyrightInner
    a(href='http://privacymark.jp', target='_blank')
      img.privacymark(src='/images/pmark/pmark_75_JP.gif', alt='たいせつにしますプライバシー 10190770(05)')
    img(src='/images/common/copyright.png', alt='Copyright K.K.DeAGOSTINI JAPAN ALL rights reserved.')
// /#wrapper


// Google Tag Manager Start
noscript
  iframe(src='//www.googletagmanager.com/ns.html?id=GTM-NTRF47', height='0', width='0', style='display:none;visibility:hidden')
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NTRF47');
// Google Tag Manager End
// Yahoo TagManager start
script(type='text/javascript').
  (function () {
  var tagjs = document.createElement("script");
  var s = document.getElementsByTagName("script")[0];
  tagjs.async = true;
  tagjs.src = "//s.yjtag.jp/tag.js#site=nU4pcGI&referrer=" + encodeURIComponent(document.location.href) + "";
  s.parentNode.insertBefore(tagjs, s);
  }());
noscript
  iframe(src='//b.yjtag.jp/iframe?c=nU4pcGI' width='1' height='1' frameborder='0' scrolling='no' marginheight='0' marginwidth='0')
// Yahoo TagManager end
